head {
    margin: 0px;
}

header {
    margin: 44px 120px 0px 120px;
}

header > h4 {
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    color: #244D4D;
    margin-bottom: 26.85px;
    margin-top: 0px;
}

header > div {
    display: inline-block;
    margin: 3.89px 364px 4.15px 217px;
}

header > div >span:not(:last-child) {
    margin-right: 50px;
}


header > div >span {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: #161616;
}

.first_block {
    height: 560px;
    width: 1200px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: #154444;
    display: flex;
}

.first_block > .picture > img {
    width: 411px;
    height: 560px;
}

.first_block > .picture {
    display: inline-block;
}

.first_block > .first_content {
    display: inline-block;
    margin: 101px 18px 137px 100px;
}

.first_block > .first_content >h1 {
    font-family: 'Montserrat';
    color: white;
    font-weight: 700;
    font-size: 56px;
    height: 136px;
    width: 671px;
    margin: 0px;
    margin-bottom: 20px;
}

.first_block > .first_content > span {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    width: 488px;
    height: 75px;
    color: #FFFFFF;
    display: inline-block;
}

#submit_btn {
    margin-top: 35px;
}

#submit_btn > button {
    border: 0px;
    padding: 0px;
    width: 172px;
    height: 56px;
    background-color: white;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #154444;
}