head {
    margin: 0px;
}

body {
    background-color: #FCFBFF;
}

header {
    width: 1200px ;
    height: 29.04px;
    margin: 44px auto 26.85px;
}

header > h4 {
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    color: #244D4D;
    margin-bottom: 26.85px;
    margin-top: 0px;
}

header > div {
    display: inline-block;
    margin: 3.89px 364px 4.15px 217px;
}

header > div >span:not(:last-child) {
    margin-right: 50px;
}


header > div >span {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: #161616;
}

.first_block {
    height: 560px;
    width: 1200px;
    background-color: #154444;
    margin: 0 auto 140px;
    display: flex;
}

.first_block > .picture > img {
    width: 411px;
    height: 560px;
}

.first_block > .picture {
    display: inline-block;
}

.first_block > .first_content {
    display: inline-block;
    margin: 101px 18px 137px 100px;
}

.first_block > .first_content >h1 {
    font-family: 'Montserrat';
    color: white;
    font-weight: 700;
    font-size: 56px;
    height: 136px;
    width: 671px;
    margin: 0px;
    margin-bottom: 20px;
}

.first_block > .first_content > span {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    width: 488px;
    height: 75px;
    color: #FFFFFF;
    display: inline-block;
}

#submit_btn {
    margin-top: 35px;
}

#submit_btn > button {
    border: 0px;
    padding: 0px;
    width: 172px;
    height: 56px;
    background-color: white;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #154444;
}

.loup {
    margin-right: 30px;
}

.companies_block {
    width: 1082px;
    height: 133.97px;
    margin: 0 auto 140px;
}

.companies_block > h4 {
    width: 486.85px;
    height: 42px;
    font-family: 'DM Sans';
    font-size: 32px;
    font-weight: 700;
    color: #244D4D;
    margin: 0px 297.58px 40px 297.58px;
}

.photos {
    display: flex;
    gap: 100px
}

.about_block {
    width: 1167.97px;
    height: 612.21px;
    margin: 0 auto 140px;
}

.pictures {
    width: 631.24px;
    height: 612.21px;
    display: inline-block;
}

.pictures > img {
    width: 596px;
    height: 577px;
    position: absolute;
    z-index: 1;
}

.Rectangle {
    position: relative;
    width: 631.24px;
    height: 586.21px;
    background-color: #DEE4E2;
    transform: translateY(26px);
}

.about {
    display: inline-block;
    width: 436.73px;
    height: 517px;
    margin-top: 46.5px;
    margin-left: 100px;
    position: absolute;
}

.about > h3 {
    font-family: 'DM Sans';
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #244D4D;
    width: 407.77px;
    height: 40px;
    margin-bottom: 20px;
}

.about > span {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #444444;
    width: 436.73px;
    height: 75px;
    margin-bottom: 40px;
    display: inline-block;
}


.params > img {
    margin-right: 30px;
    vertical-align: top;
}

.params {
    margin-bottom: 30px;
    
}

.text > span {
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #383738;
    width: 271.74px;
    display: block;
    margin-top: 14px;
}

.text > h5 {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #244D4D;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.text {
    display: inline-block;
}


.examples {
    width: 1200px;
    height: 584.88px;
    margin: 0 auto 140px;
}

.examples_texts {
    width: 819.7px;
    height: 122.56px;
    display: inline-block;
    margin-right: 279.4px;
}

.examples_texts > h3 {
    width: 370px;
    height: 52px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #242424;
}

.examples_texts > span {
    width: 819.7px;
    height: 50.56px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #383738;
}

.images {
    width: 96px;
    height: 40px;
    display: inline-flex;
    gap: 16px;
    margin-top: 82.56px;
}

.text_right_left {
    margin-bottom: 80px;
}


.examples_cards {
    width: 1200px;
    height: 382.31px;
    display: flex;
    gap: 30px
}

.card {
    width: 380px;
    height: 382.31px;
    background-color: #FFFFFF;
    box-shadow: 0px 13px 26px 0px #00000012;
}

.card_detail {
    width: 331.88px;
    height: 79.25px;
    margin: 30.03px 24.06px 26.69px 24.06px;
    
}

.img_text >h5 {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 101.88px;
    margin-top: 0px;
    width: 170px;
    height: 27px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #242424;
}

.img_text {
    display: flex;
    align-items: center;
    margin-bottom: 20.75px;
}

.card_img {
    margin-right: 8px;
}

.span_button > span {
    display: inline-block;
    width: 46px;
    height: 31px;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    color: #154444;
    font-family: 'DM Sans';
    margin-right: 207.02px;
}

.buy_btn {
    width: 78.85px;
    height: 32px;
    background-color: #244D4D;
    border: none;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: white;
}

.span_button {
    display: flex;
    align-items: center;
}

.furniture {
    width: 1186.93px;
    height: 593.39px;
    margin: 0 auto 140px;
}

.furniture_text {
    margin-bottom: 80px;
    width: 720px;
    height: 103.33px;
    margin-left: 234.5px;
    margin-right: 232.43px;
}

.furniture_text > h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    height: 48px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0%;
    color: #242424;
    text-align: center;
}

.spansText {
    width: 720px;
    height: 35.33px;
    display: flex;
    flex-direction: row;
    gap: 102px;
}


.span_div > span{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #919090;
}


.span_div_1 {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #154444;
    height: 27px;
}

.line {
    width: 57.017120361328125px;
    height: 2.3037760257720947px;
    opacity: 1;
    background-color: #154444;
    margin-left: 48.31px;
    margin-right: 57.67px;
    margin-top: 6.02px;
}


.picture_block {
    display: inline-block;
    width: 577.48px;
    height: 410.07px;
    position: relative;
    margin-right: 135.45px;
}

.picture_block img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first {
    width: 190.1015625px;
    height: 85.8670883178711px;
    opacity: 1;
    background-color: #154444;
}

.second {
    width: 190.1015625px;
    height: 85.8670883178711px;
    opacity: 1;
    background-color: #154444;
    position: absolute;
    bottom: 0;
    right: 0;
}


.furniture_cards {
    display: flex;
    flex-direction: column;
    gap:33.42px;
    width: 474px;
    height: 336.83px;
    margin-top: 40.87px;
    margin-bottom: 32.36px;
}

.furniture_row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.common {
    display: flex;
}

.furniture_component {
    width: 222px;
    height: 90px;
    border: 1.5px solid #D9DCE5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.furniture_component > span {
    display: inline-block;
    margin-top: 14px;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #808080;
}

#individual {
    width: 222px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #154444;
}

#individual > span {
    display: inline-block;
    margin-top: 14px;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.customers {
    width: 1200px;
    height: 492.42px;
    margin: 0 auto 140px;
}

.leftPart {
    position: relative;
    width: 564.2906494140625px;
    height: 492.4248046875px;
    margin-right: 100.64px;
    display: inline-block;
}


.leftPart > img {
    position: absolute;
    right: 0;
}

.circle {
    width: 492.42px;
    height: 492.42px;
    border-radius: 50%;
    background-color: #244D4D;
}

.rightPart {
    display: inline-block;
    width: 535.0673828125px;
    padding-top: 105.41px;
    padding-bottom: 105.41px;
}

.customersWrapper {
    display: flex;
}

.customerText > h3 {
    width: 535.0673828125px;
    height: 96px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #242424;
    margin-top: 0;
    margin-bottom: 20px;
}

.customerText > span {
    display: inline-block;
    width: 535.0673828125px;
    height: 75.35679626464844px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.customerText {
    margin-bottom: 40.25px;
}

.detail {
    display: inline-block;
    width: 69px;
    height: 41.16px;
    margin-left: 10px;
}

.person {
    display: flex;
    align-items: center;
}

.detail > h6 {
    margin-top: 0;
    margin-bottom: 6.16px;
    width: 69px;
    height: 19px;
    opacity: 1;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.mark {
    display: flex;
    align-items: center;
    gap: 7.99px;
}

.mark > span {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0%;
    color: #000000;
}

.formBlock {
    width: 1200px;
    height: 394.32px;
    background-color: #F4F6F6;
    margin: 0 auto 140px;
    padding-top: 68px;
}

.formBlockText {
    width: 605px;
    height: 164px;
    margin: 0 297.5px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formBlockText > h3 {
    width: 605px;
    height: 96px;
    color: #222222;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.formBlockText > span {
    display: inline-block;
    width: 493px;
    height: 48px;
    color: #222222;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.emailForm {
    width: 471.9790344238281px;
    height: 67px;
    background-color: #FFFFFF;
    margin: 0 363.52px 55.32px 364.5px;
}

.emailForm > img {
    margin: 25.49px 12px 25.51px 17.52px;
}

.formWithButton {
    display: inline-block;
    position: absolute;
    
}

.submitBtn {
    border: 0;
    padding: 0;
    width: 125.32px;
    height: 52px;
    background-color: #305F64;
    margin: 6.99px 19.19px 8.01px 0;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.formWithButton > form >input {
    border: 0;
    padding: 0;
    width: 281.95px;
    height: 52px;
    outline: none;
}